<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-row">
    <span>Витрина</span>
    <img src="../assets/logo-nav@2x.png">
  </mat-toolbar-row>
</mat-toolbar>

<p *ngIf="!loaded" class="loading">
  Загрузка...
</p>
<section *ngIf="loaded">
  <form>
    <mat-form-field>
      <mat-select [(value)]="selectedSubject">
        <mat-option value="none">Все предметы</mat-option>
        <mat-option *ngFor="let item of subjects; trackBy:item" [value]="item">{{ item }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(value)]="selectedGenre">
        <mat-option value="none">Все жанры</mat-option>
        <mat-option *ngFor="let item of genres; trackBy:item" [value]="item">{{ item }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Класс</mat-label>
      <mat-select [(value)]="selectedClass">
        <mat-option value="none">Все классы</mat-option>
        <mat-option *ngFor="let item of classes; trackBy:item" [value]="item">{{ item }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" placeholder="Поиск" [(ngModel)]="query" name="query">
      <button mat-button *ngIf="query" matSuffix mat-icon-button aria-label="Clear" (click)="query=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <span>
      <span class="pointer" (click)="showBonuses = false">Рубли</span> &nbsp;
      <mat-slide-toggle class="toggler" [checked]="showBonuses" (change)="onToggleBonuses($event)">
        Бонусы
      </mat-slide-toggle>
    </span>
  </form>

  <content class="bookList">
    <div class="clearFilter" *ngIf="!(bookList | bookFilter:filter:selectedSubject:selectedGenre:selectedClass:query).length">
      <p>Книги не найдены</p>
      <button mat-stroked-button color="primary" (click)="selectedSubject = selectedGenre = selectedClass = 'none'">
        Сбросить фильтры
      </button>
    </div>
    <mat-card class="bookList-item" [@itemAnim]="loaded"
      *ngFor="let book of bookList | bookFilter:filter:selectedSubject:selectedGenre:selectedClass:query">
      <mat-card-header class="bookList-item-header">
        <mat-card-title>{{ book.title.split('.')[0] }}</mat-card-title>
        <mat-card-subtitle>{{ book.subject }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="'https://www.imumk.ru/svc/coursecover/' + book.courseId" [alt]="book.title">
      <mat-card-content>
        <p>
          {{
          book.title.split(', ')[1] ?
            book.title.split(', ')[1] :
            book.grade.split(';')[1] ?
              book.grade.split(';')[0] + ' - ' + book.grade.split(';')[1] + ' классы' :
              book.grade.split(';')[0] + ' класс'
          }}
        </p>
      </mat-card-content>
      <mat-card-actions class="bookList-item-actions">
        <a>Подробнее</a>
        <p>
          <button mat-stroked-button color="primary">
            {{ showBonuses ? book.priceBonus + ' Б' : book.price + ' ₽' }}
          </button>
        </p>
      </mat-card-actions>
    </mat-card>
  </content>
</section>

<footer *ngIf="loaded">
  <p>
    Made by
    <a target="_blank" href="//hh.ru/applicant/resumes/view?resume=2563ced7ff02f66a9e0039ed1f666662713355">
      Armen
    </a>
  </p>
</footer>
