.toolbar-row
  justify-content space-between
  img
    height 25px

form, .bookList
  padding 0 5%
  margin-top 15px

.loading
  text-align center
  margin-top 30px

form
  display flex
  justify-content space-around
  align-items center
  flex-wrap wrap
  mat-form-field
    flex-grow 1
    margin auto 10px

.bookList
  text-align center
  margin-bottom 20px
  display flex
  flex-wrap wrap
  justify-content space-evenly
  align-items center
  align-content space-around
  &-item
    margin 20px 10px
    width 180px
    min-height 400px
    flex-grow 1
    &-actions
      margin -15px 0
      a
        color #00c1ff
        text-decoration none
      button
        color #fff
        background #00c1ff
    &-header
      height 110px
      display flex
      justify-content center
      align-items center
      text-align center

.pointer
  cursor pointer

.clearFilter
  margin-bottom 80vh

footer
  text-align center
  margin auto 0
